################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Alura.Loja/.vs/Alura.Loja/v15
/Alura.Loja/.vs/Alura.Loja/v16
/Alura.ListaLeitura/.vs/Alura.ListaLeitura

node_modules/
/CasaDoCodigo/.vs/CasaDoCodigo
/CasaDoCodigo/bin/Debug/netcoreapp2.2
